ul#ejm2 li a {
  position: relative;
  font-weight: bold;
  margin: 0px 5px;
}

ul#ejm2 li a:after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #FFD743;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);
}

ul#ejm2 li a:hover:after {
  opacity: 1;
  transform: translateY(15px)
}

/*footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background:#999;
  font-size: 1rem;
}*/


body {
  background-color: white;
}


#nom {
  color: white;
  text-align: center;
}

h2.lecture-title {
  font-size: 2rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #696565;
}

h3.lecture-title {
  padding-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #696565;
}

p {
  font-family: 'Dosis', sans-serif;
  text-align: justify;
  font-size: 1.1rem;
}

#barra_servicio {
  background-color: rgb(136, 139, 140);
  padding: .5rem;
}

#servicio {
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h5 {
  color: white;
  padding-left: .5rem;
}

#btn>a {
  color: black;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#btn:hover {
  background-color: rgba(85, 219, 183, 0.83);
}

.table {
  text-align: center;
}

#accordion {
  padding-top: 35px;
}

#registro {
  text-align: center;
}

.card {
  color: black;
  text-align: justify;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
}

#buscador {
  float: none;
  color: black;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  display: inline;
}

#btn_ver {
  float: none;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}



/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
  background-color: #777;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

footer {
  background: rgba(193, 197, 198, 0.83);
  color: black;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.sociales ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sociales ul li {
  position: relative;
  display: inline-block;
}


#div-general {
  padding: 1.3rem;
}

.borde {
  border: 1px solid black;
}

.form-control .ieditar {
  background-color: rgba(85, 219, 183, 0.83);
}